/* Section Pack Web */
.web-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 80px;
    margin-bottom: 40px;
}

.web-title {
    font-size: 48px;
    color: white;
    margin-left: -180px;
    margin-top: 0px;
}

.web-description {
    color: white;
    margin-left: 250px;
    margin-top: -20px;
    margin-bottom: 80px;
    line-height: 1.5;
}

.meeting-card {
    background: white;
    border-radius: 15px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: -175px;
    margin-top: 10px;
}


